streamlit
requests
PyMuPDF
pymupdf4llm
google-cloud-vision
google-cloud-aiplatform
futures
PyPDF2
python-docx
llama-index-core 
llama-parse
llama-index-readers-file 
setuptools
langfuse
sentry-sdk
pydantic_settings
fastapi
uvicorn[standard]
python-dotenv